<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head></h:head>
<ui:composition template="WEB-INF/templates/template.xhtml">
    <ui:define name="content">
        <div class="col s12 m12 l12">
            <h:form>
                <div class="row">
                    <div class="input-field col s12 m8 l6 inputForm">
                        <h:outputLabel styleClass="white-text active" value="Course Name"/>
                        <h:inputText id="courseNameInput" required="true" value="#{courseBean.course.courseName}"/>
                        <h:message id="courseNameError" styleClass="messageError" for="courseNameInput"/>
                    </div>
                    <div class="input-field col s12 m4 l4 inputForm">
                        <h:outputLabel styleClass="white-text active" value="Course Code"/>
                        <h:inputText id="courseCodeInput" required="true" value="#{courseBean.course.courseCode}"/>
                        <h:message id="courseCodeError" styleClass="messageError" for="courseCodeInput"/>
                    </div>
                    <h:selectOneMenu styleClass="input-field col s12 m4 l2 selectOneMenuDropdown"
                                     value="#{courseBean.course.duration}">
                        <f:selectItem itemLabel="Duration" itemDisabled="true"/>
                        <f:selectItem itemLabel="20 weeks" itemValue="20"/>
                        <f:selectItem itemLabel="40 weeks" itemValue="40"/>
                        <f:selectItem itemLabel="60 weeks" itemValue="60"/>
                        <f:selectItem itemLabel="80 weeks" itemValue="80"/>
                    </h:selectOneMenu>

                    <div class="input-field col s12 m6 l4 inputForm">
                        <h:outputLabel styleClass="white-text active" value="Teacher"/>
                        <h:inputText id="teacherInput" required="true" value="#{courseBean.course.teacher}"/>
                        <h:message id="teacherError" styleClass="messageError" for="teacherInput"/>
                    </div>
                    <h:selectOneMenu styleClass="input-field col s12 m4 l2 selectOneMenuDropdown"
                                     value="#{courseBean.course.difficulty}">
                        <f:selectItem itemLabel="Difficulty" itemDisabled="true"/>
                        <f:selectItem itemLabel="Beginner" itemValue="Beginner"/>
                        <f:selectItem itemLabel="Intermediate" itemValue="Intermediate"/>
                        <f:selectItem itemLabel="Advanced" itemValue="Advanced"/>
                    </h:selectOneMenu>
                    <h:selectOneMenu styleClass="input-field col s12 m4 l2 selectOneMenuDropdown"
                                     value="#{courseBean.course.amountOfStudents}">
                        <f:selectItem itemLabel="Size of Class" itemDisabled="true"/>
                        <f:selectItem itemLabel="Max 20 students" itemValue="20"/>
                        <f:selectItem itemLabel="Max 25 students" itemValue="25"/>
                        <f:selectItem itemLabel="Max 30 students" itemValue="30"/>
                        <f:selectItem itemLabel="Max 35 students" itemValue="35"/>
                    </h:selectOneMenu>
                </div>
                <div class="row">
                    <div class="submitButton">
                        <h:commandButton styleClass="btn btn-danger" value="Submit"
                                         action="#{courseBean.addCourse}"/>
                    </div>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
