<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition template="WEB-INF/templates/template.xhtml">
    <ui:define name="content">
        <div class="col s12 m12 l12 indexContent">
            Welcome to Attendance, here we make attending easy and fun.
            <br></br>
            <br></br>
            Use the menu on your right to add/edit/view students, courses or teachers.
            <br></br>
            <br></br>
            This webpage was created by Alexander Claesson, javaguru in the making,
            during a course named Java EE in a class, Javautvecklare at Plushögskolan.
        </div>
    </ui:define>
</ui:composition>
</html>
