<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head></h:head>
<ui:composition template="WEB-INF/templates/template.xhtml">
    <ui:define name="content">
        <div class="viewList col s12 m12 l12">
            <h:panelGroup rendered="#{empty studentBean.students}">
                <em class="noViewEM">No registered students.</em>
            </h:panelGroup>
            <h:dataTable rendered="#{not empty studentBean.students}"
                         value="#{studentBean.students}" var="s"
                         styleClass="responsive-table"
                         headerClass="viewHeader"
                         rowClasses="viewRowEven, viewRowOdd">
                <h:column><f:facet name="header">ID</f:facet>#{s.id}</h:column>
                <h:column><f:facet name="header">Name</f:facet>#{s.firstName} #{s.lastName}</h:column>
                <h:column><f:facet name="header">Phone</f:facet>#{s.phoneNumber}</h:column>
                <h:column><f:facet name="header">Email</f:facet>#{s.email}</h:column>
                <h:column>
                    <f:facet name="header"/>
                    <h:form>
                        <div class="editButton z-depth-1-half">
                            <h:link outcome="editStudent" action="#{studentBean.editStudent}" includeViewParams="true">
                                <f:param name="id" value="#{s.id}"/>

                                <p class="buttonText">edit</p>
                            </h:link>
                        </div>
                        <div class="deleteButton z-depth-1-half">
                            <h:commandLink action="#{studentBean.removeStudent(s.id)}">
                                <p class="buttonText">delete</p>
                            </h:commandLink>
                        </div>
                    </h:form>
                </h:column>
            </h:dataTable>
        </div>
    </ui:define>
</ui:composition>
</html>
