$bg-color-html: #e0e0e0;
$bg-color-main-content: #d50000;
$bg-color-header: #d50000;
$bg-color-link-header: #d50000;
$bg-color-addLink: #e53935;
$bg-color-addLink-hover: #d50000;
$bg-color-viewLink: #e53935;
$bg-color-viewLink-hover: #d50000;
$bg-color-viewRowOdd: #e53935;
$bg-button-edit: #1b5e20;
$bg-button-delete: #ff3d00;

$page-color: #FFFFFF;
$addLink-color: #FFFFFF;
$viewLink-color: #FFFFFF;
$button-color: #FFFFFF;

$font-size-header: 34px;
$font-size-link-header: 24px;
$font-size-links: 20px;
$font-size-content: 18px;
$font-size-small: 14px;

$border-table: 1px solid white;
$border-table-buttons: 1px solid white;

$font-weight-header: bold;
$font-weight-links: bold;
$font-weight-content: bold;
$font-weight-buttons: normal;

$padding-zero: 0px 0px 0px 0px !important;
$padding-10px: 10px 10px 10px 10px !important;
$padding-20px: 20px 20px 20px 20px !important;