<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <h:outputScript library="js" name="jquery-2.1.4.js"/>
    <h:outputScript library="js" name="bin/materialize.js"/>
    <h:outputScript library="js" name="documentReady.js"/>
    <h:outputStylesheet library="css" name="main.css"/>
    <h:outputStylesheet library="sass" name="materialize.css"/>
    <h:outputStylesheet library="bootstrap" name="bootstrap.css"/>
    <h:link rel="shortcut icon" type="image/x-icon" href="#{resource['images/list.ico']}"/>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>Attendence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</h:head>
<h:body>
    <div class="container">
        <div class="row templateRow z-depth-2">
            <div class="col s12 m12 l12 pageHeader">
                <h:form>
                    <h:commandLink styleClass="commandLinks" action="index">
                        <div class="col s12 m12 l12 headerTitle">ATTENDANCE</div>
                    </h:commandLink>
                </h:form>
            </div>
            <div class="col s12 linksCol">
                <div class="col s6 layoutLinkCol">
                    <div class="col s12 linkHeader">
                        <h:outputText value="STUDENT"/>
                    </div>
                    <div class="col s12 commandLinks">
                        <h:form>
                            <h:commandLink styleClass="commandLinks" action="addStudent">
                                <div class="col s12 m12 l6 addLink">ADD STUDENT</div>
                            </h:commandLink>
                            <h:commandLink styleClass="commandLinks" action="viewStudents">
                                <div class="col s12 m12 l6 viewLink">VIEW STUDENT</div>
                            </h:commandLink>
                            <h:commandLink styleClass="commandLinks" action="addStudentToCourse">
                                <div class="col s12 addLink">ADD STUDENT TO COURSE</div>
                            </h:commandLink>
                        </h:form>
                    </div>
                </div>
                <div class="col s6 layoutLinkCol">
                    <h:form>
                        <div class="col s12 linkHeader">
                            <h:outputText value="COURSE"/>
                        </div>
                        <div class="col s12 commandLinks">
                            <h:commandLink styleClass="commandLinks" action="addCourse">
                                <div class="col s12 m12 l6 addLink">ADD COURSE</div>
                            </h:commandLink>
                            <h:commandLink styleClass="commandLinks" action="viewCourses">
                                <div class="col s12 m12 l6 viewLink">VIEW COURSE</div>
                            </h:commandLink>
                            <h:commandLink styleClass="commandLinks" action="viewStudentsInCourse">
                                <div class="col s12 viewLink">VIEW STUDENTS IN COURSE</div>
                            </h:commandLink>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
        <div class="row contentRow z-depth-2">
            <div id="content">
                <ui:insert name="content"/>
            </div>
        </div>
    </div>
</h:body>
</html>
